.hero-container{
    height: 100vh;
    background-image: url(../../frontend/img/split_backgroundd.svg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}
.hero-container-opacity{
    /* background-color: rgba(255, 255, 255,0.5); */
}
.fw-600{
    font-weight: 700;
}
.fs-30{
    font-size: 50px;
}

.background-transaparent{
    background-color: transparent; 
}

.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.glide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.glide-arrow-left {
    left: 0;
}

.glide-arrow-right {
    right: 0;
}

.btn-arrow {
    background-color: rgba(255, 255, 255, 0.4);
}

.category-product {
    transition: all 500ms;
    position: relative;
    background-color: white;
}

.category-product:hover {
    cursor: pointer;
    background-color: #7158e226;
}

.card-product {
    font-size: 14px;
    transition: all 500ms;
    position: relative;
    background-color: white;
}

.card-product:hover {
    cursor: pointer;
}

.label-sell-product{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999;
}

/* #custom-target {
  position: relative;
  width: 600px;
  height: 300px;
  border-style: solid;
}

.position-absolute {
  position: absolute !important;
} */